/* *{border:solid 0.1px red;} */

body{
    margin:0;
    padding:0;
}

/* 콘텐츠 본문 */
p{
    font-family: "pretendard", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.04em;
    line-height: 32px;
    padding:0;
    margin:0;
}

/* 콘텐츠 소제목 */
h3{
    font-family: "pretendard", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: -0.04em;
    padding:0;
    margin:0;
    
}

/* 서브텍스트 */
h5{ 
    color: #404040;
    font-family: "pretendard", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: -0.04em;
    line-height: 26px;
    margin-top:10px;
    padding:0;
}


/* 헤더 */
header{
    position: fixed;
    left:50%;
    transform: translateX(-50%);
    width:100%;
    height:72px;
    margin: 0;
    padding: 0;
    z-index: 3;
    background-image: url("icon source/background.jpg");
    overflow: hidden;
    
}


.button-container{
    display: inline-flex;
    position: fixed;
    left:50%;
    transform: translateX(-50%);
    width: 1440px;
    margin:0;
    padding: 0;
    
    
}

.button-icon{
    width:32px;
    height:32px;
    margin:20px;
}

.button-icon img{
    width:100%;
}

.ep-title{
    display: flex;
    width:1320px;
    justify-content: center;
    align-items: center;
    margin:20px;
    font-family: "pretendard", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: -0.04em;
}

/* 메인 */
main{
    display: block;
    position: relative;
    left:50%;
    transform: translateX(-50%);
    width:1440px;
    height:300px;
    height: auto;
}

.thum-container{
    display: inline-flex;
    position: relative;
    width:960px;
    height:540px;
    left:50%;
    transform: translateX(-50%);
    /* border: solid 0.1px red; */
}

.thum-graphic-box{
    display: block;
    position: absolute;
    right:0;
    width:600px;

}

.thum-graphic-box img{
    width:100%;
}

.contents-container{
    display: inline-flex;
    position: relative;
    width:100%;

}

.left-sub-container{
    display: block;
    position: relative;
    width:360px;

}

.main-container{
    display: inline-flex;
    position: relative;
    width:840px;
    margin-bottom: 200px;

}

.right-sub-container{
    display: block;
    position: relative;
    width:240px;

}

.sub-text-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    width:180px;
    margin:20px;
    margin-left: 90px;
}

.sub-text-group img{
    width:100%;
}

.text-group-1{
    position: relative;
    width:100%;
    margin:20px;
    text-align: center;
}

.text-group-2{
    position: relative;
    width:380px;
    margin:20px;
}

.text-group-3{
    position: relative;
    width:240px;
    margin:20px;
}

.graphic-box{
    display: block;
    position: absolute;
}

.graphic-box img{
    width:100%;
}


/* ---------그래픽 아이다---------- */
#ep1-1{
    bottom:0;
    right:0;
    z-index: -3;
}

#ep1-2{
    position: relative;
    width: 480px;
    height: 430px;
    bottom:0;
    left:0;
    z-index: -3;
    margin:20px;
    margin-top:30px;
    background-color: #f2f2f2;
}

#ep1-3{
    position: relative;
    margin-bottom: 20px;
}

#ep1-4{
    position: absolute;
    width:560px;
    right:0;
    top:0;
}

#ep1-5{
    width:1400px;
    position: absolute;
    margin-top: 20px;
    margin-left: 200px;
    top:0;
    z-index: -4;
    overflow: hidden;
}

#ep1-5 img{
    margin-left: 160px;
}


#ep1-s1{
    position: absolute;
    top:0;
    z-index: -3;
    width:240px;
}

#ep1-s2{
    position: absolute;
    z-index: -3;
    width:240px;
}

#ep1-s0-1{
    margin-top: -24px;
    width:80px;
    transform: rotate(-3deg);
}

#ep1-s0-2{
    padding-top: 200px;
    position: absolute;
    z-index: -2;
    width:220px;
}

#tg01{
    width:700px;
    left:0;
    z-index: 1;
}

#tg01 img{
    width:100%;
}

#ep01-p1{
    position: absolute;
    top:70px;
    left:-170px;
    width:700px;
    /* border:solid 0.1px red; */
}